*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.sequencer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 70vh;
    margin : 0rem 4rem;
}

i, svg{
    pointer-events: none;
}

.mute.active{
    background-color: rgb(219, 214, 214);
}

.kick-pad, .snare-pad, .hihat-pad{
    width: 5rem;
    height : 5rem;
    margin : 0rem 0.5rem;
    cursor : pointer;
}

.kick-pad{
    background: rgb(245, 118, 118);
}

.kick-pad.active{
    background: rgb(218, 21, 21);
}

.snare-pad{
    background: rgb(153, 153, 255);
}

.snare-pad.active{
    background: rgb(79, 79, 218);
}

.hihat-pad{
    background: rgb(150, 255, 144);
}

.hihat-pad.active{
    background: rgb(23, 157, 16);
}

.hihat-tune, .snare-tune, .kick-tune{
    display: flex;
    align-items: center;
    width : 70%;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick, .snare, .hihat{
    display: flex;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin : 0rem 2rem;
}

h1{
    margin-right: 1.5rem;
}

.controls button{
    padding : 1rem;
    border : none;
    background : rgb(88,88,88);
    color : white;
    font-size: 1rem;
    cursor : pointer;
    transition : all 0.5 ease;
}

.pad{
    transition: all 0.5s ease;
}



.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(88,88,88);
    color : white;
    border : none;
    cursor : pointer;
    width: 10%;
    margin-top: 3rem;
    margin-left: 37rem;
}

select{
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}

@keyframes playTrack{
    from{
        transform : scale(1);
    }to{
        transform : scale(1.15);
    }
}